[submodule "ffilesystem"]
	path = ffilesystem
	url = https://github.com/ECLAIRWaveS/fortran-filesystem
[submodule "h5fortran"]
    path = h5fortran
    url = https://github.com/ECLAIRWaveS/h5fortran
	shallow = true
[submodule "msis"]
	path = msis
	url = https://github.com/gemini3d/msis
	shallow = true
[submodule "glow"]
	path = glow
	url = https://github.com/gemini3d/glow
[submodule "hwm14"]
	path = hwm14
	url = https://github.com/gemini3d/hwm14
[submodule "mumps"]
	path = mumps
	url = https://github.com/scivision/mumps-superbuild
	shallow = true
