*.job
*.job.*

.vscode/
*.bz2
*.u2d
*.pyd
*.asv
*.egg-info/
pip-wheel-metadata/
*.manifest
__pycache__/
.mypy_cache/
*.obj
*.out

# meson
subprojects/
!subprojects/*.wrap

*.ilk
*.pdb

*.stackdump
*.exe
*.dat
*.orig

data/
dist/
build*/
objects/
*.DS_Store
*.aux
*.log
*.toc
*.synctex.gz
*.o
*.swp
*.bbl
*.blg
*~
