*.egg-info/
pip-wheel-metadata/
*.manifest
subprojects/
data/
build*/
__pycache__/

*.ilk
*.pdb

Testing/
.mypy_cache/

*.stackdump
*.exe
*.dat
*.orig
CMakeFiles/
CMakeCache.txt

build/
initialize/
simulations/
build/
objects/
*.DS_Store
*.aux
*.log
*.toc
*.synctex.gz
*.o
*.mod
*.swp
*.bbl
*.blg
gemini_mumps
magcalc
*~
msis_setup
*.raw8
