__pycache__/

Testing/
.mypy_cache/
*.dat
*.orig
CMakeFiles/
CMakeCache.txt
test_mpi
test_diffusion1D
test_interp1
test_interp2

gemini
initialize/
simulations/
objects/
*.DS_Store
*.aux
*.log
*.toc
*.synctex.gz
*.o
*.mod
*.swp
*.bbl
*.blg
gemini_mumps
magcalc
*~
msis_setup
*.raw8
