name: ci

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  CMAKE_INSTALL_PREFIX: ~/libs
  CMAKE_PREFIX_PATH: ~/libs
  CMAKE_GENERATOR: Ninja

on:
  push:
    paths-ignore:
      - "cmake/intel.cmake"
      - "cmake/cray.cmake"
      - ".github/workflows/ci_windows.yml"
      - ".github/workflows/ci_macos.yml"
      - ".github/workflows/oneapi-linux.yml"
      - "docs/**"

  workflow_dispatch:

# avoid wasted runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  gcc-new:
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        hwm14: [false]
        os: [ubuntu-24.04]
        gcc: [12, 13, 14]

    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}
      CMAKE: cmake
      CTEST: ctest

    runs-on: ${{ matrix.os }}

    steps:
    - &checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - &pkg
      uses: ./.github/workflows/composite-pkg

    - &linux-build
      uses: ./.github/workflows/composite-unix


  cmake-oldest:
    timeout-minutes: 30

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        cmake_version: ["3.21.7"]

    steps:

    - *checkout

    - *pkg

    - uses: ./.github/workflows/composite-cmake

    - *linux-build


  gcc-old:
    timeout-minutes: 30

    strategy:
      matrix:
        hwm14: [false]
        os: [ubuntu-22.04]
        gcc: [11]
# GCC 10 works, just saving CI testing time
# GCC 9 segfaults on gemini:mini2dns_fang gemini:mini2dew_fang

    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}
      CMAKE: cmake
      CTEST: ctest

    runs-on: ${{ matrix.os }}

    steps:
    - *checkout
    - *pkg

    - name: GCC APT
      if: matrix.gcc < 11
      run: sudo apt install -y --no-install-recommends gcc-${{ matrix.gcc }} g++-${{ matrix.gcc }} gfortran-${{ matrix.gcc }}

    - *linux-build
