name: ci

on:
  push:
    paths:
      - "**.f90"
      - "**.F90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/ci.yml"

jobs:

  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      DEBIAN_FRONTEND: noninteractive
      CTEST_PARALLEL_LEVEL: 2

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install packages
      run: |
        sudo apt update -yq
        sudo cmake -P scripts/install_prereq.cmake

    - name: Configure multi
      run: cmake --preset multi


    - name: Debug build
      run: cmake --build --preset debug

    - name: Debug unit test
      run: ctest --preset debug -L unit

    - name: Debug core test
      run: ctest --preset debug -LE unit -R "(2dew_fang|2dns_fang)"


    - name: Release build
      run: cmake --build --preset release

    - name: Release unit test
      run: ctest --preset release -L unit

    - name: Release core test
      run: ctest --preset release -LE unit -E 3d


  linux-gcc7:
    needs: linux
    runs-on: ubuntu-18.04
    timeout-minutes: 10

    env:
      DEBIAN_FRONTEND: noninteractive
      CTEST_PARALLEL_LEVEL: 2
      CC: gcc-7
      CXX: g++-7
      FC: gfortran-7

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install packages
      run: |
        sudo apt update -yq
        sudo cmake -P scripts/install_prereq.cmake
        cmake -P scripts/install_ninja.cmake
        echo "${HOME}/ninja-1.10.2" >> $GITHUB_PATH


    - name: Configure multi
      run: cmake --preset multi

    - name: Release build
      run: cmake --build --preset release

    - name: Release unit test
      run: ctest --preset release -L unit

    - name: Release core test
      run: ctest --preset release -LE unit -E 3d


  macos:
    runs-on: macos-latest
    needs: linux

    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      CTEST_PARALLEL_LEVEL: 3
      FC: gfortran-11

    steps:
    - uses: actions/checkout@v2

    - run: cmake -P scripts/install_prereq.cmake
      timeout-minutes: 15

    - name: Configure multi
      run: cmake --preset multi


    - name: Debug build
      run: cmake --build --preset debug

    - name: Debug unit test
      run: ctest --preset debug -L unit

    - name: Debug core test
      run: ctest --preset debug -LE unit -R "(2dew_fang|2dns_fang)"


    - name: Release build
      run: cmake --build --preset release

    - name: Release unit test
      run: ctest --preset release -L unit

    - name: Release core test
      run: ctest --preset release -LE unit -E 3d


  windows_no_mpi:
    # it's tricky to install mpiexec automatically on Windows (see p4est)
    # thus it's convenient to use Windows as a no-MPI, no-hwloc test case
    timeout-minutes: 20
    runs-on: windows-latest
    needs: linux

    env:
      CTEST_PARALLEL_LEVEL: 2

    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          git
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja
          mingw-w64-x86_64-gcc-fortran
          mingw-w64-x86_64-hdf5
          mingw-w64-x86_64-lapack

    - uses: actions/checkout@v2

    - name: Configure multi
      run: cmake -Dmpi=no --preset multi


    - name: Debug build
      run: cmake --build --preset debug

    - name: Debug unit test
      run: ctest --preset debug -L unit

    - name: Debug core test
      run: ctest --preset debug -LE unit -R "(2dew_fang|2dns_fang)"


    - name: Release build
      run: cmake --build --preset release

    - name: Release unit test
      run: ctest --preset release -L unit

    - name: Release core test
      run: ctest --preset release -LE unit -E 3d
