name: ci

env:
  CTEST_PARALLEL_LEVEL: 0
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  CTEST_NO_TESTS_ACTION: error
  CMAKE_BUILD_PARALLEL_LEVEL: 4
  CMAKE_INSTALL_PREFIX: ~/libs
  CMAKE_PREFIX_PATH: ~/libs

on:
  push:
    paths:
      - "**.c"
      - "**.cpp"
      - "**.f90"
      - "**.F90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - "CMakePresets.json"
      - "cmake/libraries.json"
      - "!cmake/intel.cmake"
      - ".github/workflows/**"
      - "!docs/**"
      - "!**/cray.cmake"
      - "mumps/**"
      - "ffilesystem/**"
      - "msis/**"
      - "glow/**"
      - "h5fortran/**"
      - "hwm14/**"


jobs:

  gcc-new:
    timeout-minutes: 30

    strategy:
      matrix:
        hwm14: [false]
        os: [ubuntu-24.04]
        gcc: [12, 13, 14]
        include:
        - os: macos-latest
          gcc: 13

    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}
      CMAKE: cmake
      CTEST: ctest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/workflows/composite-pkg

    - run: sudo xcode-select --switch /Applications/Xcode_15.1.app
      if: ${{ matrix.gcc == 13 && runner.os == 'macOS' }}
      # https://docs.brew.sh/Xcode
      # https://github.com/Homebrew/brew/blob/HEAD/Library/Homebrew/os/mac/xcode.rb#L20

    - uses: ./.github/workflows/composite-linux


  cmake-320:
    timeout-minutes: 30

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        cmake_version: ["3.20.6"]
        gcc: [8]

    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}

    steps:

    - uses: actions/checkout@v4

    - uses: ./.github/workflows/composite-pkg

    - name: Install GCC-${{ matrix.gcc }}
      timeout-minutes: 15
      run: sudo apt install gcc-${{ matrix.gcc }} g++-${{ matrix.gcc }} gfortran-${{ matrix.gcc }}

    - uses: ./.github/workflows/composite-cmake
    - uses: ./.github/workflows/composite-linux



  gcc-old:
    timeout-minutes: 30

    strategy:
      matrix:
        hwm14: [false]
        os: [ubuntu-22.04]
        gcc: [9, 10, 11]

    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}
      CMAKE: cmake
      CTEST: ctest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/workflows/composite-pkg
    - uses: ./.github/workflows/composite-linux
