name: ci_macos

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  CMAKE_INSTALL_PREFIX: ~/libs
  CMAKE_PREFIX_PATH: ~/libs
  CMAKE_GENERATOR: Ninja

on:
  push:
    paths-ignore:
      - "cmake/intel.cmake"
      - "cmake/cray.cmake"
      - ".github/workflows/ci.yml"
      - ".github/workflows/ci_windows.yml"
      - ".github/workflows/oneapi-linux.yml"
      - "docs/**"


jobs:

  macos:

    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        hwm14: [false]
        compiler: [ {cpp: clang++, c: clang, fc: gfortran-15 },
                    {cpp: g++-15, c: gcc-15, fc: gfortran-15 }]
  # flang-new not yet working

    env:
      CC: ${{ matrix.compiler.c }}
      CXX: ${{ matrix.compiler.cpp }}
      FC: ${{ matrix.compiler.fc }}
      CMAKE: cmake
      CTEST: ctest

    runs-on: macos-latest

    steps:

    - name: install Flang
      if: ${{ matrix.compiler.fc == 'flang-new' }}
      run: brew install flang

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - uses: ./.github/workflows/composite-pkg

    - uses: ./.github/workflows/composite-unix
