name: ci_windows
env:
  CMAKE_GENERATOR: Ninja

on:
  push:
    paths:
      - "**.f90"
      - "**.F90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/ci_windows.yml"


jobs:

  no_mpi:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: 'git mingw-w64-x86_64-cmake mingw-w64-x86_64-ninja mingw-w64-x86_64-gcc-fortran mingw-w64-x86_64-hdf5 mingw-w64-x86_64-lapack'

    - uses: actions/checkout@v2

    - name: configure without MPI
      run: cmake -B build -Dmpi:BOOL=false

    # - run: ctest -S setup.cmake -VV # avoids missing environment variable weird bugs
    - run: cmake --build build
    - run: ctest -V
      working-directory: build
